.App {
  text-align: center;
}

.spices {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
z-index: -1;
}

.container__link{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input{
  width: 300px;
  height: 30px;
}

button{
  background: transparent;
  border: none;
}

.image{
border: 11px solid rgb(180, 179, 179);
}

h1{
  color: rgb(208, 62, 62);
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
  text-shadow: 3px 3px 3px #101010;
}

h2{
  font-family: 'Indie Flower', cursive;
  font-size:40px;
  color: rgb(183, 183, 183);
  text-shadow: 3px 3px 2px #080808;
}

h3{
  font-family: 'Indie Flower', cursive;
  font-size: 15x;
  color: rgb(41, 41, 41);
  line-height: 1mm;
  margin: 23px;
}

h4{
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
}

li{
  font-size: 15px;
  font-weight: 600px;
  color: rgb(48, 48, 48);
  list-style: none;
}

label{
  font-family: 'Indie Flower', cursive;
}

li{
  background: rgba(251, 243, 173, 0.5);
padding: 5px;
}

form{
  line-height: 1mm;
}


@media all and (max-width:800px){
  h1{
    font-size: 30px;
  }

  input{
    width: 150px;
    height:25px;
  }
  
  h2{
    font-size:16px;
    text-shadow: 1px 1px 1px #080808;
  }
  
  h3{
    font-size: 13px;
  }
  
  h4{
    font-size: 13px;
  }
  
  li{
    font-size: 8px;
  }
  
  
  li{
  padding: 7px;
  }

  .image{
width: 200px;
    }

}